#colophon{
background-color: gray;
color: white;
text-decoration-color: thistle;
text-align: center;
}
.navbar-nav {
    color: whitesmoke;
    text-align: right;
}
#yo_sidebar{
    margin-top: 290px;
    align-content: center;
    padding-left: 100px;
    vertical-align: auto;
}
#yo-content{
    margin-top: 50px;
    background-color: gray;
}
#yo_sidebar{
    
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 100px;
    box-shadow: 0px 1px 6px gray;
    border: 1px solid gray;
    height:inherit;

}





#menu-menu-1{
    margin-left: 1200px;
}
#site-navigation ul li a {
    color: #2090DB

;
    
    
}
#site-navigation ul li a:hover {

    color:lightskyblue;

    color: #2090DB;
    
}

#site-navigation{
    box-shadow: 0px 1px 6px gray;
 
    
}
#yo_content{
    margin-top: 120px;
}


.widget ul li{
    list-style-type: none;
}
.widget ul li a:link,
.widget ul li a:visited,
.widget ul li a:active{
    text-decoration: none;
    color:#2090DB;
}
.widget ul li a:hover
{
    text-decoration: none;
    color:lightskyblue;
}
#yo_sidebar form .search-submit {
    background-color: #2090DB;
    color: white;
}
#yo_sidebar form .search-submit:hover {
    background-color:white;
    color: #2090DB;
}
#yo_sidebar form .search-field {
    box-shadow: 0px 1px 6px gray;
}
/* #yo_content .entry-header{
    color: white;
    padding:25px 0px 25px 0px;
    background-color: #2090DB

;
    box-shadow: 0px 1px 6px gray;
} */

.entry-title a:link,
.entry-title a:visited,
.entry-title .entry-active{
    text-decoration-color: none;
    color: white;
   

}
#yo_content .entry-title {
    background-color: #2090DB

;
    padding:15px 0px 15px 15px;
    
}
.col-sm-8 .entry-title{
    background-color: #2090DB

;
    padding:15px 0px 15px 15px; 
    color: white;
}

#yo_content .entry-meta a:link,
#yo_content .entry-meta a:visited,
#yo_content .entry-meta a:active{
    color: #2090DB

;
}
#comments{
    box-shadow: 0px 1px 6px gray;
    margin-bottom: 50px;
} 
#commentform input{
    border: 1px solid #2090DB

;   
}
#commentform{
    padding: 50px;
}
#reply-title{
    text-align: center;
    color: white;
    padding:25px 0px 25px 0px;
    background-color: #2090DB

;
    box-shadow: 0px 1px 6px gray;
}
#submit{
    color: white;

    background-color: #2090DB;

    background-color: #2090DB;

  
    width: 150px;
    height: 50px;
    font-size: 17px;
    text-align: center;
}

#submit:hover{
    background-color: white;
    color: #2090DB;
}
.nav-link:hover{
    color: yellow;
}
#side{
    background-color: #2090DB

;
    width: inherit;
    height: 10px;
    margin-top: -100px;
    margin-bottom: 50px;
    margin-left: -25px;
}
#footer-sidebar{
    margin: 50px 50px 50px 50px;
}

#footer-sidebar ul li a:link,
#footer-sidebar ul li a:visited,
#footer-sidebar ul li a:active{
    text-decoration: none;
    color:white;

;
}
#footer-sidebar ul li a:hover{
    text-decoration: none;
    color:#2090DB;

;
}
.site-info{
    text-align: center;
}
.site-info a:link,
.site-info a:visited,
.site-info a:active{
    text-decoration: none;
    color:white;

;
}
#wp-calendar caption{
    color: white;
}
.entry-footer .cat-links a{
    color: black;
}
.container{
    margin-bottom: 100px;
}